@keyframes animatedtxt {
  0% {
    opacity: 100%;
    background-position: right;
    z-index: 15;
  }
  90% {
    opacity: 100%;
    z-index: 15;
  }
  100% {
    background-position: left;
    opacity: 0%;
    z-index: 15;
  }
}
@keyframes animatedbackground {
  0% {
    opacity: 100%;
    background: #eaeaea;
    z-index: 15;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    background: #f6f6f6;
    z-index: 15;
  }
}
@keyframes animatedheart {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@keyframes textnoscroll {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes validationhover {
  to {
    margin-right: 0;
  }
}
@keyframes validationhoverrotate {
  to {
    transform: rotate(0deg);
  }
}
@keyframes animationmenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
body {
  margin: 0.5rem 0 0 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.bodyanimation {
  animation: textnoscroll 3s linear;
}
.bodyanimation__loader {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eaeaea;
  opacity: 0%;
  animation: animatedbackground 3s linear;
  z-index: -10;
}
.bodyanimation__loader__gradient {
  padding: 0.5rem;
  font-size: 3rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #FF79DA, #9356DC, #FF79DA);
  background-size: 300%;
  animation: animatedtxt 3s linear;
  animation-direction: alternate;
  opacity: 0%;
}

.header {
  margin: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
}
.header__arrowcontent {
  position: absolute;
  margin: 1rem;
}
.header__arrowcontent__icon {
  color: black;
}
.header__arrowcontenthide {
  display: none;
}
.header__logo {
  margin: auto;
  padding: 1rem;
}

.localization {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  box-shadow: inset 0px 5px 9px -6px gray;
}
.localization__icon {
  margin: 1rem;
}

.sectionheader {
  background: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sectionheader__title {
  margin: 2rem 4rem 0 4rem;
  font-weight: bold;
}
.sectionheader__txt {
  text-align: center;
  margin: 1rem 2rem;
}
.sectionheader__btn {
  border-radius: 5rem;
  border: none;
  background: linear-gradient(174deg, #FF79DA 10%, #9356DC 100%);
  padding: 1rem 1.5rem;
  color: white;
  margin: 0.5rem 1rem 2rem 1rem;
  box-shadow: 0px 5px 9px -6px gray;
}
.sectionheader__btn:focus {
  outline: none;
}
.sectionheader__btn:hover {
  background: linear-gradient(174deg, #ffa2e5 10%, #a978e3 100%);
  box-shadow: 0px 5px 5px -2px gray;
}

.asidetuto {
  margin: auto;
  max-width: 1440px;
  padding: 1rem 0 1rem 0;
}
.asidetuto__title {
  margin: 2rem 1rem 0 1rem;
}
.asidetuto a {
  color: black;
}
.asidetuto__list {
  padding: 0;
  margin: 0 1rem 0 1rem;
  list-style: none;
  counter-reset: circle-counter;
}
.asidetuto__list--style {
  counter-increment: circle-counter;
  background-color: #f6f6f6;
  border-radius: 1.3rem;
  margin: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 9px -6px gray;
}
.asidetuto__list--style:hover {
  background-color: #ffdff6;
}
.asidetuto__list--style:before {
  content: counter(circle-counter);
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  margin: 0 0 0 -0.75rem;
  color: white;
  font-size: 0.7rem;
}
.asidetuto__list--style a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}
.asidetuto__list__txticon {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 100%;
}
.asidetuto__list__txticon:hover > .aside__list__icon {
  color: #9356DC;
}
.asidetuto__list__icon {
  margin: 0 1.5rem 0 1.5rem;
  font-size: 1.3rem;
  color: gray;
}
.asidetuto__list__text {
  font-weight: bold;
}

.sectionrestaurant {
  padding: 1rem 0 1rem 0;
  background: #f6f6f6;
}
.sectionrestaurant a {
  color: black;
}
.sectionrestaurant__content {
  margin: auto;
  max-width: 1440px;
}
.sectionrestaurant__content__title {
  margin: 2rem 1rem 0 1rem;
}
.sectionrestaurant__vignette {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 16px gray;
  max-height: 100%;
  cursor: pointer;
  margin: 1rem;
}
.sectionrestaurant__vignette__new {
  position: absolute;
  right: 0.75rem;
  top: 1rem;
  box-sizing: border-box;
  background-color: #99e2d0;
  padding: 0.5rem;
}
.sectionrestaurant__vignette__img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.sectionrestaurant__vignette__txticon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 1rem;
}
.sectionrestaurant__vignette__txtcontent {
  flex-basis: 80%;
}
.sectionrestaurant__vignette__txt {
  flex-basis: 90%;
}
.sectionrestaurant__vignette__txt h3 {
  margin: 0;
}
.sectionrestaurant__vignette__txt p {
  margin: 0;
}
.sectionrestaurant__vignette__iconblock {
  display: flex;
  justify-content: flex-end;
}
.sectionrestaurant__vignette__iconblock:hover > .sectionrestaurant__vignette__iconblock__icon {
  opacity: 0%;
}
.sectionrestaurant__vignette__iconblock:hover > .sectionrestaurant__vignette__iconblock__iconfull {
  opacity: 100%;
  animation: animatedheart 0.5s linear;
}
.sectionrestaurant__vignette__iconblock__icon {
  position: absolute;
  font-size: 1.5rem;
}
.sectionrestaurant__vignette__iconblock__iconfull {
  position: relative;
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 500%;
  opacity: 0%;
  font-size: 1.5rem;
}

.footer {
  background: #696969;
  color: white;
}
.footer__content {
  margin: auto;
  max-width: 1440px;
  padding: 2rem 0 2rem 1rem;
}
.footer__content__title {
  margin: 0 0 2rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  font-weight: 100;
}
.footer__content__ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.footer__content__ul__li {
  margin: 1rem 0;
  display: flex;
}
.footer__content__ul__texticon__icon {
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}
.footer__content__ul__texticon__txt {
  cursor: pointer;
  margin: 0;
}
.footer__content__ul__mail {
  color: white;
}

/* PAGE MENU */
.main__imgblock {
  z-index: -100;
}
.main__imgblock__img {
  width: 100%;
  object-fit: cover;
  max-height: 30rem;
  box-shadow: inset 0px 5px 9px -6px grey;
}
.main__content {
  background-color: #f6f6f6;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -5rem;
}
.main__content__titleandicon {
  margin: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}
.main__content__titleandicon__title {
  margin: 1rem 1rem 0 1rem;
  font-weight: normal;
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
}
.main__content__titleandicon__iconblock {
  margin-right: 2rem;
}
.main__content__titleandicon__iconblock:hover > .main__content__titleandicon__icon {
  opacity: 0%;
}
.main__content__titleandicon__iconblock:hover > .main__content__titleandicon__iconfull {
  opacity: 100%;
  animation: animatedheart 0.5s linear;
}
.main__content__titleandicon__icon {
  position: absolute;
  margin-top: 3px;
}
.main__content__titleandicon__iconfull {
  position: relative;
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 500%;
  opacity: 0%;
}

.sectionmenu {
  margin: auto;
  max-width: 1440px;
}
.sectionmenu__titlecontent {
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
  margin: 2rem 1rem 0 1rem;
  padding-bottom: 0.4rem;
}
.sectionmenu__titlecontent__title {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
}
.sectionmenu__vignette {
  background-color: white;
  border-radius: 0.8rem;
  margin: 1rem;
  display: flex;
  overflow: hidden;
  animation: forwards linear 0.1s animationmenu;
  opacity: 0;
  cursor: pointer;
}
.sectionmenu__vignette:hover > .sectionmenu__validation {
  animation: linear 0.2s validationhover;
  animation-fill-mode: forwards;
}
.sectionmenu__vignette:hover .sectionmenu__validation__icon {
  animation: linear 0.1s validationhoverrotate;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.sectionmenu__vignette__textmenu {
  min-width: 0;
  flex: 1;
}
.sectionmenu__vignette__textmenu__title {
  margin: 0.5rem 0 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sectionmenu__vignette__textmenu__txt {
  margin: 0 0 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sectionmenu__pricemenu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sectionmenu__pricemenu__txt {
  margin: 0 1.5rem 0.5rem 0.5rem;
  font-weight: bold;
}
.sectionmenu__validation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background: #99E2D0;
  color: white;
  margin-right: -5rem;
}
.sectionmenu__validation__icon {
  transform: rotate(180deg);
  font-size: 1.6rem;
}

.secondstarter {
  animation-delay: 0.1s;
}

.thirdstarter {
  animation-delay: 0.2s;
}

.firstdish {
  animation-delay: 0.3s;
}

.seconddish {
  animation-delay: 0.4s;
}

.thirddish {
  animation-delay: 0.5s;
}

.firstdessert {
  animation-delay: 0.6s;
}

.seconddessert {
  animation-delay: 0.7s;
}

.thirddessert {
  animation-delay: 0.8s;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3.5rem 0;
}
.order__btn {
  border-radius: 5rem;
  border: none;
  background: linear-gradient(174deg, #FF79DA 10%, #9356DC 100%);
  padding: 1rem 1.5rem;
  color: white;
}
.order__btn:hover {
  background: linear-gradient(174deg, #ffa2e5 10%, #a978e3 100%);
  box-shadow: 0px 5px 5px -2px gray;
}

@media only screen and (min-width: 1220px) {
  .sectionrestaurant__content--responsive {
    display: flex;
    justify-content: center;
  }

  .aside__list {
    display: flex;
  }
  .aside__list--style {
    flex-basis: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
