body {
  margin: 0.5rem 0 0 0;
  font-family: "Roboto", sans-serif;
}

.index {
  animation: textnoscroll 3s linear;
}

header {
  margin: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
}

.arrowiconhide {
  display: none;
}

.arrowicon {
  position: absolute;
  margin: 1rem;
}

.logo {
  margin: auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

.loader {
  font-family: "Shrikhand", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eaeaea;
  opacity: 0%;
  animation: animatedbackground 3s linear;
  z-index: -10;
}
.loader__gradient {
  padding: 0.5rem;
  font-size: 3rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #FF79DA, #9356DC, #FF79DA);
  background-size: 300%;
  animation: animatedtxt 3s linear;
  animation-direction: alternate;
  opacity: 0%;
}

@keyframes animatedtxt {
  0% {
    opacity: 100%;
    background-position: right;
    z-index: 15;
  }
  90% {
    opacity: 100%;
    z-index: 15;
  }
  100% {
    background-position: left;
    opacity: 0%;
    z-index: 15;
  }
}
@keyframes animatedbackground {
  0% {
    opacity: 100%;
    background: #eaeaea;
    z-index: 15;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    background: #f6f6f6;
    z-index: 15;
  }
}
@keyframes animatedheart {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@keyframes textnoscroll {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.localization {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: inset 0px 5px 9px -6px gray;
}
.localization__icon {
  margin: 1rem;
}

.section1 {
  background: #f6f6f6;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section1 a {
  color: white;
}
.section1 h1 {
  text-align: center;
  margin: 2rem 4rem 0 4rem;
  font-weight: bold;
}
.section1 p {
  text-align: center;
  margin: 1rem 2rem;
}
.section1__btn {
  border-radius: 5rem;
  border: none;
  background: linear-gradient(174deg, #FF79DA 10%, #9356DC 100%);
  padding: 1rem 1.5rem;
  color: white;
  margin: 0.5rem 1rem 2rem 1rem;
  box-shadow: 0px 5px 9px -6px gray;
}
.section1__btn:focus {
  outline: none;
}
.section1__btn:hover {
  background: linear-gradient(174deg, #ffa2e5 10%, #a978e3 100%);
  box-shadow: 0px 5px 5px -2px gray;
}

h2 {
  margin: 2rem 1rem 0 1rem;
}

.aside {
  margin: auto;
  max-width: 1440px;
  padding: 1rem 0 1rem 0;
}
.aside a {
  color: black;
}
.aside__list {
  padding: 0;
  margin: 0 1rem 0 1rem;
  list-style: none;
  counter-reset: circle-counter;
}
.aside__list--style {
  counter-increment: circle-counter;
  background-color: #f6f6f6;
  border-radius: 1.3rem;
  margin: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 9px -6px gray;
}
.aside__list--style:hover {
  background-color: #ffdff6;
}
.aside__list--style:before {
  content: counter(circle-counter);
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  margin: 0 0 0 -0.75rem;
  color: white;
  font-size: 0.7rem;
}
.aside__list--style a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aside__list__txticon {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 100%;
}
.aside__list__txticon:hover > .aside__list__icon {
  color: #9356DC;
}
.aside__list__icon {
  margin: 0 1.5rem 0 1.5rem;
  font-size: 1.3rem;
  color: gray;
}
.aside__list__text {
  font-weight: bold;
}

.section2 {
  padding: 1rem 0 1rem 0;
  background: #f6f6f6;
}
.section2 a {
  color: black;
}
.section2__content {
  margin: auto;
  max-width: 1440px;
}
.section2__vignette {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 16px gray;
  max-height: 100%;
  cursor: pointer;
  margin: 1rem;
}
.section2__vignette__new {
  position: absolute;
  right: 0.75rem;
  top: 1rem;
  box-sizing: border-box;
  background-color: #99e2d0;
  padding: 0.5rem;
}
.section2__vignette__img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.section2__vignette__txticon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem;
}
.section2__vignette__txtcontent {
  flex-basis: 80%;
}
.section2__vignette__txt {
  flex-basis: 90%;
}
.section2__vignette__txt h3 {
  margin: 0;
}
.section2__vignette__txt p {
  margin: 0;
}
.section2__vignette__iconblock {
  display: flex;
  justify-content: flex-end;
}
.section2__vignette__iconblock:hover > .section2__vignette__iconblock__icon {
  opacity: 0%;
}
.section2__vignette__iconblock:hover > .section2__vignette__iconblock__iconfull {
  opacity: 100%;
  animation: animatedheart 0.5s linear;
}
.section2__vignette__iconblock__icon {
  position: absolute;
  font-size: 1.5rem;
}
.section2__vignette__iconblock__iconfull {
  position: relative;
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 500%;
  opacity: 0%;
  font-size: 1.5rem;
}

.footer {
  background: #696969;
  color: white;
}
.footer__content {
  margin: auto;
  max-width: 1440px;
  padding: 2rem 0 2rem 1rem;
}
.footer h4 {
  margin: 0 0 2rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  font-weight: 100;
}
.footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.footer li {
  margin: 1rem 0;
  display: flex;
}
.footer__texticon__icon {
  margin: 0 0.5rem 0 0;
}
.footer__texticon__txt {
  margin: 0;
}
.footer a {
  color: white;
}

/* PAGE MENU */
.main__imgblock {
  z-index: -100;
}
.main__imgblock__img {
  width: 100%;
  object-fit: cover;
  max-height: 20rem;
}
.main__content {
  background-color: #f6f6f6;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -5rem;
}
.main__content__titleandicon {
  margin: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
.main__content__titleandicon h1 {
  margin: 1rem;
  font-weight: normal;
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
}
.main__content__titleandicon__iconblock {
  margin-right: 2rem;
}
.main__content__titleandicon__iconblock:hover > .main__content__titleandicon__icon {
  opacity: 0%;
}
.main__content__titleandicon__iconblock:hover > .main__content__titleandicon__iconfull {
  opacity: 100%;
  animation: animatedheart 0.5s linear;
}
.main__content__titleandicon__icon {
  position: absolute;
  margin-top: 3px;
}
.main__content__titleandicon__iconfull {
  position: relative;
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 500%;
  opacity: 0%;
}

.section {
  margin: auto;
  max-width: 1440px;
}
.section h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 2rem 1rem 0 1rem;
}
.section .vignette {
  background-color: white;
  border-radius: 0.8rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.section .vignette .textmenu {
  min-width: 0;
}
.section .vignette .textmenu h3 {
  margin: 0.5rem 0 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section .vignette .textmenu p {
  margin: 0 0 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section .vignette .pricemenu {
  align-self: flex-end;
}
.section .vignette .pricemenu p {
  margin: 0 1rem 0.5rem 1rem;
  font-weight: bold;
}

.order {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}
.order__btn {
  border-radius: 5rem;
  border: none;
  background: linear-gradient(174deg, #FF79DA 10%, #9356DC 100%);
  padding: 1rem 1.5rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
