body {
    margin: 0.5rem 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.index {
    animation: textnoscroll 3s linear;
}

$background:#eaeaea;
$lightbackground: #f6f6f6;
$primarycolor: #9356DC;
$secondarycolor: #FF79DA;
$tertiary: #99E2D0;

@mixin maxwidth {
    margin: auto;
    max-width: 1440px;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;   
}

@mixin flexcentercolumn {
    display:flex;
    align-items: center;
    flex-direction: column;
}

@mixin titrepadding {
    text-align: center;
    margin:2rem 4rem 0 4rem;
}

header {
    @include maxwidth();
    display: flex;
    align-items: center;
}

.arrowiconhide {
    display: none;
}

.arrowicon {
    position: absolute;
    margin: 1rem;
    i {
        color: black;
    }
}

.logo {
    margin: auto;
    padding: 1rem;
}

a {
    text-decoration: none;
}

.loader {
    font-family: 'Shrikhand', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: $background;
    opacity:0%;
    animation: animatedbackground 3s linear;
    z-index: -10;
    &__gradient {
        padding: 0.5rem;
        font-size: 3rem;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, $secondarycolor,$primarycolor, $secondarycolor);
        background-size: 300%;
        animation: animatedtxt 3s linear;
        animation-direction: alternate;
        opacity: 0%;
    }
}

@keyframes animatedtxt{
    0%{
        opacity: 100%;
        background-position: right;
        z-index: 15;
    }

    90%{
        opacity: 100%;
        z-index: 15;
    }

    100%{
        background-position: left;
        opacity: 0%;
        z-index: 15;
    }

}

@keyframes animatedbackground{
    0%{
        opacity: 100%;
        background: $background;
        z-index: 15;
    }
    
    90%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        background: $lightbackground;
        z-index: 15;
    }
}

@keyframes animatedheart {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}

@keyframes textnoscroll {
    0%{
        overflow:hidden;
    }
    99%{
        overflow:hidden;
    }
    100%{
        overflow:visible;
    }
}

@keyframes validationhover {
    to{
        margin-right: 0;
    }
}
@keyframes validationhoverrotate {
    to{
        transform: rotate(0deg);
    }
}

@keyframes animationmenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.localization {
    margin: auto;
    @include flexcenter();
    background: $background;
    box-shadow:inset 0px 5px 9px -6px gray;
    &__icon {
        margin: 1rem;
    }
}

.section1 {
    background: $lightbackground;
    margin: auto;
    @include flexcentercolumn();
    a {
        color: white;
    }
    h1{
        @include titrepadding();
        font-weight: bold;
    }
    p{
        text-align: center;
        margin: 1rem 2rem ;
    }
    &__btn{
        border-radius: 5rem;
        border: none;
        background: linear-gradient(174deg, $secondarycolor 10%, $primarycolor 100%);
        padding: 1rem 1.5rem;
        color: white;
        margin: 0.5rem 1rem 2rem 1rem;
        box-shadow: 0px 5px 9px -6px gray;
        &:focus {
            outline: none;
        }
        &:hover {
            background: linear-gradient(174deg, lighten($secondarycolor, 8%) 10%, lighten($primarycolor, 8%) 100%);
            box-shadow: 0px 5px 5px -2px gray;
        }
    }
}

.aside {
    @include maxwidth();
    padding: 1rem 0 1rem 0;
    a {
        color: black;
    }
    &__list {
        padding: 0;
        margin:0 1rem 0 1rem;
        list-style: none;
        counter-reset: circle-counter;
        &--style {
            counter-increment: circle-counter;
            background-color: $lightbackground;
            border-radius: 1.3rem;
            margin: 1rem;
            height: 5rem;
            display: flex;
            align-items: center;
            box-shadow: 0px 5px 9px -6px gray;
            &:hover {
                background-color: lighten(#FF79DA,20%);
            }
            &:before {
                content: counter(circle-counter);
                background-color: $primarycolor;
                border-radius: 50%;
                padding: .5rem .7rem;
                margin: 0 0 0 -0.75rem;
                color: white;
                font-size: .7rem;
            }
            a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                
            }
        }
        &__txticon {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            height: 100%;
            &:hover > .aside__list__icon{
                color: $primarycolor;
            }
        }
        &__icon {
            margin: 0 1.5rem 0 1.5rem;
            font-size: 1.3rem;
            color: gray;
        }
        &__text {
            font-weight: bold;
        }
    }
}

.section2 {
    padding: 1rem 0 1rem 0;
    background: $lightbackground;
    a {
        color: black;
    }
    &__content {
        @include maxwidth();
    }
    &__vignette {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        box-shadow: 0 0 16px gray;
        max-height: 100%;
        cursor: pointer;
        margin: 1rem;
        &__new {
            position: absolute;
            right: 0.75rem;
            top: 1rem;
            box-sizing: border-box;
            background-color: #99e2d0;
            padding: .5rem;
        }
        &__img {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }  
        &__txticon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin: 1rem;
        }
        &__txtcontent {
            flex-basis: 80%;
        }
        &__txt {
            flex-basis: 90%;
            h3 {
                margin: 0;
            }
            p {
                margin: 0;
            }   
        }
        &__iconblock {
            display: flex;
            justify-content: flex-end;
            &:hover > .section2__vignette__iconblock__icon {
                opacity: 0%;
            }
            &:hover > .section2__vignette__iconblock__iconfull {
                opacity: 100%;
                animation: animatedheart .5s linear;
            }
            &__icon {
                position: absolute;
                font-size: 1.5rem;
            }
            &__iconfull {
                position: relative;
                background-image: linear-gradient(to right, $primarycolor, $secondarycolor);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-size: 500%;
                opacity: 0%;
                font-size: 1.5rem;
            }
        }
        
    }
}

.footer {
    background: #696969;
    color: white;
    &__content {
        @include maxwidth();
        padding: 2rem 0 2rem 1rem;
    }
    h4 {
        margin: 0 0 2rem 0;
        font-family: 'Shrikhand', cursive;
        font-size:1.3rem;
        font-weight: 100;
    }
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    li {
        margin: 1rem 0;
        display:flex;
    }
    &__texticon__icon {
        margin: 0 0.5rem 0 0;
    }
    &__texticon__txt {
        margin: 0;
    }
    a {
        color: white;
    }
}

/* PAGE MENU */

.main {
    &__imgblock{
        z-index: -100;
        &__img {
            width: 100%;
            object-fit: cover;
            max-height: 20rem;
        }
    }
    &__content {
        background-color: $lightbackground;
        position: relative;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        margin-top: -5rem;
        &__titleandicon {
            @include maxwidth();
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.8rem;
            h1 {
                margin: 1rem 1rem 0 1rem;
                font-weight: normal;
                font-size: 1.7rem;
                font-family: 'Shrikhand', cursive;
            }
            &__iconblock {
                margin-right: 2rem;
                &:hover > .main__content__titleandicon__icon {
                    opacity: 0%;
                }
                &:hover > .main__content__titleandicon__iconfull {
                    opacity: 100%;
                    animation: animatedheart .5s linear;
                }
            }
            &__icon {
                position: absolute;
                margin-top: 3px;
            }
            &__iconfull {
                position: relative;
                background-image: linear-gradient(to right, $primarycolor, $secondarycolor);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-size: 500%;
                opacity: 0%;
            }
        }

    }
}

.sectionmenu {
    @include maxwidth();
    &__tittle{
        border-bottom: 3px solid $tertiary;
        width: 3rem;
        margin: 2rem 1rem 0 1rem;
        padding-bottom: 0.4rem;
    }
    h2 {
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0;
    }
    .vignette {
        background-color: white;
        border-radius: 0.8rem;
        margin: 1rem;
        display: flex;
        overflow: hidden;
        animation: forwards linear 0.1s animationmenu;
        opacity: 0;
        &:hover > .validation{
            animation: linear 0.2s validationhover;
            animation-fill-mode: forwards;
        }
        &:hover .style{
            animation: linear 0.1s validationhoverrotate;
            animation-fill-mode: forwards;
            animation-delay: 0.1s;
        }
        .textmenu {
            min-width: 0;
            flex: 1;
            h3{
                margin: 0.5rem 0 0.5rem 1rem;
                font-size: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                margin: 0 0 0.5rem 1rem;
                font-weight: 400;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .pricemenu {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            p {
                margin: 0 1.5rem 0.5rem 0.5rem;
                font-weight: bold;
            }
        }
        .validation {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            background: $tertiary;
            color: white;
            margin-right: -5rem;
            .style {
                transform: rotate(180deg);
                font-size: 1.6rem;
            }
        }
    }
    .secondstarter {
        animation-delay: 0.1s;
    }
    .thirdstarter {
        animation-delay: 0.2s;
    }
    .firstdish {
        animation-delay: 0.3s;
    }
    .seconddish {
        animation-delay: 0.4s;
    }
    .thirddish {
        animation-delay: 0.5s;
    }
    .firstdessert {
        animation-delay: 0.6s;
    }
    .seconddessert {
        animation-delay: 0.7s;
    }
    .thirddessert {
        animation-delay: 0.8s;
    }
}

.order {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    &__btn{
        border-radius: 5rem;
        border: none;
        background: linear-gradient(174deg, $secondarycolor 10%, $primarycolor 100%);
        padding: 1rem 1.5rem;
        color: white;
        &:hover {
            background: linear-gradient(174deg, lighten($secondarycolor, 8%) 10%, lighten($primarycolor, 8%) 100%);
            box-shadow: 0px 5px 5px -2px gray;
        }
    }
}





